@import "../../../../style/variables/variables";

:root {
  --large: 1200px;
  @custom-media --large (min-width: 1200px);
  --color: red;
  --yellow: #000;
  --pink: rgb(150, 0, 256);
  --spacing-medium: 15px;
  --alert: {
    padding: 15px;
    color: pink;
    background-color: black;
  }
}

:local(.test) {
  display: flex;
  background-color: var(--color);

  @media (--large) {
    background-color: var(--yellow);
  }
}

:local(.testActive) {
  background-color: var(--pink)
}

:local(p) {
  &:hover {
    color: pink;
  }
}
