@import "../../../../style/main";

:local(.divider) {
  padding: 20px;
}

:local(.bubble) {
  display: inline-block;
  margin-right: 20px;
}

:local(.circle) {
  position: relative;
  transition: all 0.2s ease-out;
}

:local(.top) {
  margin-right: 20px;
}
